name: ci
on:
  push:
  pull_request:
  schedule:
  - cron: '0 3 * * *'
jobs:
  test:
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 25
            os: ubuntu-latest
          - java: 11
            os: ubuntu-latest
          - java: 11
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/setup-java@v5
      with:
        java-version: ${{matrix.java}}
        distribution: zulu
    - uses: actions/checkout@v6
    - uses: sbt/setup-sbt@ae54f7cfe46ec0d24ade661d77f007360ab48bda # v1.1.16
    - if: matrix.os != 'windows-latest'
      run: sbt -v scalafmtSbtCheck "+ scalafmtCheckAll"
    - shell: bash
      run: sbt -v "+ test" "+ publishLocal"
    - shell: bash
      run: rm -rf "$HOME/.ivy2/local" || true
